html, body{
    margin:0;
    padding:0;
    box-sizing:border-box;
    background-color:#454545;
    font-family:"Montserrat Alternates"
}

.container {
    display:grid;
    grid-row-gap:10px;
    grid-column-gap: 40px;
    grid-template-columns: 1fr 12fr 1fr;
    grid-template-rows: 10vh 90vh;
    grid-template-areas: "h h h"
                         ". m a"   
}

header{
    /* background:green; */
    grid-area:h;
    display:flex;
    flex-direction: row;
    background:#454445;
    
    justify-content: flex-center;
    /* grid-column-start: 2;
    grid-column-end: 3; */
}

main{
    grid-area:m;
    display:flex;
    flex-direction: column;
    /* grid-column-start: 2;
    grid-column-end: 3; */
}


aside{
    grid-area:a;
    display:flex;
    flex-direction: column;
    align-items: center;
    /* grid-column-start: 2;
    grid-column-end: 3; */
}

.item {
	text-align: center;
}

.centerv{
    align-self: center;
}

.centerh{
    justify-self: center;
}

.centerheader{
    margin-left:43vw;
}

main h2{
    margin-top:30px;
    font-size: 5em;
    color: #66fcf1;
}

main div{
    margin-bottom:80px;
}

main p{
    color: #c4c4c4;
    font-size: 1.3em;
}

header img{
    color:#66F6F1;
}

aside button{
    background:transparent;
    border: 0px;
    color:#66F6F1;
    margin:5px;
}

aside{
    justify-content: center;
}

aside i{
    color: #66F6F1;
    font-size:45px;
    margin:10px;
}

.fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.fixed-right {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
}

.box{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    align-items: center;
}

.project{
    width: 480px;
    height: 520px;
    border-radius:20px;
    color:#c4c4c4;
    background-color:#1f2833;
    margin:10px 10px;
    display:grid;
    grid-row-gap:10px;
    grid-column-gap: 40px;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 20% 50% 30%;
    grid-template-areas: ". title ."
                         "desc desc tech"
                         "link link link";
                         
    box-shadow: 0px 3px 1px rgba(203, 193, 193, 0.25);
    }

.projecttitle{
    grid-area: title;
    font-size: 30px;
    display:flex;
    flex-direction: column;
    align-content: flex-start;
    margin:0;
    margin-top:5px;
}

.projectdesc{
    grid-area: desc;
    margin-left:8px;
}

.projecttech{
    text-align: left;
    grid-area: tech;
    padding-left:5px;
}

.projectlinks{
    grid-area: link;
    display:flex;
    justify-content: space-around;
    margin-bottom: 0;
}


@media (max-width: 600px) 
{
  .project {
    width: 250px;
    height: 250px;
    grid-column-gap: 10px;
    grid-row-gap: 5px;
    font-size: 0.5em;
   }

   .projecttitle{
       font-size:3em;
       margin:5px;
   }

   .sourcebutton{
       width: 40px;
       margin: 0px;
   }

   .fab,.fas{
       font-size: 2em;
   }

   h2.item{
       font-size:3em;
   }

   .projecttech{
       font-size:1.1em;
   }

   .item{
       margin-left:5px;
   }
   .box{
       justify-content: center;
   }
   .container{
        grid-template-areas: "h h h"
                             "m m a"
   }

   p.item{
       font-size:1em;
       margin-left:8px;
   }
}
